token = "[BOT_TOKEN]"
application-id = [APPLICATION_ID]
prefix = "[PREFIX]" # EX: ~, p!, !
data-dir = "[PATH_TO_DATA]" # EX: ./data
test-guild = "[TEST_GUILD_ID]"

[status]
name = "you like a damn fiddle" # EX: "Crysis", "song", "basically anything"
type = "[Status Type]" # EX: Playing, Listening, Streaming

[deviantart]
username = "[DEVIANT_USERNAME]"
password = "[DEVIANT_PASSWORD]"

[sauce-nao]
api-key = "[SAUCE_NAO_API_KEY]"

[rule34]
user-id = [RULE34_USER_ID]
api-key = "[RULE34_API_KEY]"

# This section is optional
[log]
# Logging directives. These are the suggested defaults.
directives = [ 
    "pikadick=info",
    "serenity::framework::standard=info",
]